<h3 class="text-primary">Take Home Salary Calculator</h3>
<br>
<h4 class=".text-info">Just enter ctc and click on calculate</h4>
<br>
<div class="col-md-6 col-xs-12">

	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a data-toggle="tab" href="#home">Basic</a></li>
		<li><a data-toggle="tab" href="#menu1">Retirals</a></li>
		<li><a data-toggle="tab" href="#menu2">FBP</a></li>
		<li><a data-toggle="tab" href="#menu3">Advanced</a></li>
	</ul>
	<div class="tab-content">

		<div id="home" class="tab-pane fade in active">

			<form class="form" role="form">

				<div class="form-group">
					<label>CTC</label> <input type="text" class="form-control"
						ng-model="salary.ctc" placeholder="CTC">
				</div>

				<div class="form-group" style="display: block;"
					ng-init="salary.basicpercent=30">
					<label>Basic is :</label> <label> <input type="radio"
						ng-model="salary.basicpercent" value="30"> 30% Of CTC
					</label> <label> <input type="radio"
						ng-model="salary.basicpercent" value="40"> 40% Of CTC
					</label> <label> <input type="radio"
						ng-model="salary.basicpercent" value="50"> 50% Of CTC
					</label> <label> <input type="radio"
						ng-model="salary.basicpercent" value="1"> Other
					</label>

				</div>

				<div class="form-group">
					<label>Monthly Basic :</label><span
						style="display: {{salary.showbasic2()}}">{{salary.basic2()}}</span>
					<input type="text" class="form-control" ng-model="salary.basic"
						placeholder="Basic" style="display: {{salary.showbasic()}}">
				</div>

				<div class="form-group" style="">
					<label>Variable Pay in %</label> <input type="text"
						class="form-control" ng-model="salary.variable"
						placeholder="Leave blank if not applicable">
				</div>

				<div class="checkbox">
					<label style="font-weight: bold;"><input
						ng-model="salary.metro" type="checkbox">Metro</label>
					<div class="text-info">if Delhi, Chennai , Mumbai or Kolkata
						is your current residence mark it</div>
				</div>

			</form>
		</div>


		<div id="menu1" class="tab-pane fade">

			<form class="form" role="form">


				<div class="form-group">
					<label>PF </label> <input type="text" class="form-control"
						ng-model="salary.pf" placeholder="PF">
				</div>

				<div class="form-group">
					<label>EPF </label> <input type="text" class="form-control"
						ng-model="salary.epf" placeholder="EPF">
				</div>
				<div class="form-group">
					<label>Gratuity </label> <input type="text" class="form-control"
						ng-model="salary.gratuity" placeholder="Gratuity">
				</div>

			</form>

		</div>

		<div id="menu2" class="tab-pane fade">

			<form class="form" role="form">

				<div class="form-group">
					<label>HRA </label> <input type="text" class="form-control"
						ng-model="salary.hra" placeholder="HRA">
				</div>
				<div class="form-group">
					<label>Conveyance </label> <input type="text" class="form-control"
						ng-model="salary.conveyance" placeholder="Conveyance">
				</div>
				<div class="form-group">
					<label>Professional Tax </label> <input type="text"
						class="form-control" ng-model="salary.profesionaltax"
						placeholder="Professional Tax">
				</div>
				<div class="form-group">
					<label>Food Vouchers</label> <input type="text"
						class="form-control" ng-model="salary.foodvouchers"
						ng-init="salary.foodvouchers=0" placeholder="Food Vouchers">
				</div>
				<div class="form-group">
					<label>LTA</label> <input type="text" class="form-control"
						ng-init="salary.lta=0" ng-model="salary.lta" placeholder="LTA">
				</div>
				<div class="form-group">
					<label>Medical Bills</label> <input type="text"
						class="form-control" ng-model="salary.mecialbills"
						ng-init="salary.mecialbills=0" placeholder="Max Limit 15,000">
				</div>

			</form>

		</div>
		<div id="menu3" class="tab-pane fade">

			<form class="form" role="form">

				<div class="form-group">
					<label>80C, 80CCC, 80CCD</label> <input type="text"
						class="form-control" ng-model="salary.houseloan"
						ng-init="salary.houseloan=0" placeholder="Max Limit 150,000">
				</div>
				<div class="form-group">
					<label>Other 100% tax free</label> <input type="text"
						class="form-control" ng-model="salary.other100"
						ng-init="salary.other100=0" placeholder="Other 100% tax free">
				</div>
				<div class="form-group">
					<label>Deductions</label> <input type="text" class="form-control"
						ng-model="salary.deductions" ng-init="salary.deductions=0"
						placeholder="deduction">
				</div>

				<div class="form-group">
					<label>Taxable Income :{{salary.taxableincome | number:0}}</label>
				</div>

			</form>

		</div>

		







	</div>
	
	<form class="form" role="form">
			<div class="form-group">
				<button type="button" class="btn btn-primary btn-block"
					ng-click="salary.calculateTakeHome()">Calculate</button>
			</div>
		</form>
	
	</div>

	<div class="col-md-6 col-xs-12">
		<table class="table table-striped table-bordered table-hover "
			ng-init="salary.display='none'" style="display: {{salary.display}}">
			<thead>
				<tr>
					<th>Component</th>
					<th>Yearly</th>
					<th>Monthly</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>CTC</td>
					<td>{{salary.ctc | number:0}}</td>
					<td>{{salary.monthlyctc | number:0}}</td>
				</tr>
				<tr>
					<td>EPF</td>
					<td>{{salary.epf | number:0}}</td>
					<td>{{(salary.epf/12) | number:0}}</td>
				</tr>
				<tr>
					<td>Gratuity</td>
					<td>{{salary.gratuity | number:0}}</td>
					<td>{{(salary.gratuity/12) | number:0}}</td>
				</tr>
				<tr>
					<td>Gross Salary</td>
					<td>{{salary.yearlygross | number:0}}</td>
					<td>{{salary.monthlygross | number:0}}</td>
				</tr>
				<tr>
					<td>PF</td>
					<td>{{salary.pf | number:0}}</td>
					<td>{{(salary.pf/12) | number:0}}</td>
				</tr>

				<tr>
					<td>Profesional Tax</td>
					<td>2400</td>
					<td>200</td>
				</tr>
				<tr class="warning">
					<td>Tax</td>
					<td>{{salary.yearlytax | number:2}}</td>
					<td>{{salary.monthlytax | number:2}}</td>
				</tr>
				<tr>
					<td>Deductions</td>
					<td>{{salary.deductions | number:2}}</td>
					<td>{{(salary.deductions/12) | number:2}}</td>
				</tr>
				<tr class="success">
					<td>Take Home</td>
					<td>{{salary.takehomemyearly | number:2}}</td>
					<td>{{salary.takehomemonthly | number:2}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

